nav>ul {
    display: flex;
}

nav li {

    list-style: none;
    margin-right: 10px;
    padding: 0px 10px;
}

nav li a {
    text-decoration: none;
    color: rgb(170, 21, 108);
    font-size: 20px;
}

nav li :hover {
    background-color: lightgray;

}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightcoral;
    padding: 0%;
}

nav>ul>li:hover>ul {
    display: block;

}

.dropdown li {
    padding: 0 20px;
    margin: 0%;
}